<main class="container m-auto max-w-md">
    <section class="login-container px-10 py-4 max-h-dvh mt-10 bg-white rounded shadow">
        <h1 class="py-2 font-bold text-xl text-center">Bem-vindo ao Açaí Do Marquinhos</h1>
        
        <!-- Aviso de credenciais -->
        <div class="mb-4 p-3 bg-blue-100 text-blue-700 rounded-md">
            <p class="text-sm"><strong>Credenciais de Acesso:</strong></p>
            <p class="text-sm">Email: {{'admin@admin.com'}}</p>
            <p class="text-sm">Senha: admin</p>
        </div>

        <form id="loginForm" (submit)="onLogin()">
            <div class="my-5 flex flex-col">
                <label for="email" class="text-gray-700 mb-1">Usuário</label>
                <input class="h-9 form-control border border-gray-300 rounded-md p-2 focus:outline-none focus:border-purplePrimary focus:ring-1 focus:ring-purplePrimary"
                       type="email" 
                       id="email" 
                       [(ngModel)]="email" 
                       name="email"
                       placeholder="Digite seu email">
            </div>

            <div class="my-5 flex flex-col">
                <label for="password" class="text-gray-700 mb-1">Senha</label>
                <input class="h-9 form-control border border-gray-300 rounded-md p-2 focus:outline-none focus:border-purplePrimary focus:ring-1 focus:ring-purplePrimary"
                       type="password" 
                       id="password" 
                       [(ngModel)]="password" 
                       name="password"
                       placeholder="Digite sua senha" 
                       required>
            </div>

            <div class="mx-auto flex flex-col">
                <button type="submit" 
                        class="py-2 px-4 rounded-md min-w-52 text-white bg-purplePrimary hover:bg-purple-700 transition duration-300">
                    Entrar
                </button>
            </div>
        </form>
    </section>
</main>